<li id="rememberme-li" class="control">
    <div class="input-box">
        <input type="checkbox" name="login[rememberme]" class="checkbox" value="1" id="rememberme-cb" />
    </div>
    <label for="rememberme-cb"><?php echo $this->helper('rememberme')->__('Remember Me For %d Days', Mage::helper('rememberme')->getCookieLifeTime()); ?></label>
</li>
